@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
dark-text {
    color: #333!important;
}

/* TailwindCSS autofill fix *//*
input:-webkit-autofill {
    -webkit-text-fill-color: #2E0219!important;
    box-shadow: 0 0 0px 1000px transparent inset;
}*/