@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
dark-text {
    color: #333!important;
}

/* TailwindCSS autofill fix *//*
input:-webkit-autofill {
    -webkit-text-fill-color: #2E0219!important;
    box-shadow: 0 0 0px 1000px transparent inset;
}*/

.clip-rounded-ends {
    clip-path: polygon(
      20px 0,              /* Top left corner */
      calc(100% - 20px) 0, /* Top right corner */
      100% 50%,            /* Bottom right rounded corner */
      calc(100% - 20px) 100%, /* Bottom right corner */
      20px 100%,           /* Bottom left rounded corner */
      0 50%                /* Top left rounded corner */
    );
  }

  /* Set headings in dark mode to white */
  .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark .editor-text-bold, .dark ul, .dark ol, .dark p, .dark blockquote, .dark .editor-text-italic, .dark .editor-text-underline, .dark .editor-text-strikethrough, .dark .editor-text-code, .dark .editor-text-link {
    color: white;
  }